---
const year = new Date().getFullYear();
---

<div class="px-5 py-2 border-t border-zinc-600 border-dashed">
  <p class="text-dim text-sm">&copy; Aiden Olsen 2025{year === 2025 ? "" : ` - ${year}`}</p>
</div>
