---
import Logo from "./Logo.astro";
---

<style>
  @reference "tailwindcss";

  a {
    @apply text-black dark:text-white hover:opacity-85 transition-opacity;
  }
</style>

<header class="sticky top-0 z-50 w-full px-4 py-2 border-b border-dashed border-zinc-600 
                bg-white/30 dark:bg-black/30 backdrop-blur-sm 
                before:absolute before:inset-0
                before:bg-gradient-to-b before:from-white dark:before:from-black before:to-transparent">
  <nav class="flex justify-between items-center relative">
    <Logo />
    <div class="flex gap-4">
      <a href="/">home</a>
      <a href="/blog">blog</a>
    </div>
  </nav>
</header>

