<style>
  @reference "tailwindcss";

  a {
    @apply text-black dark:text-white hover:opacity-85;
  }
</style>

<header class="fixed bg-white/30 dark:bg-black/30 backdrop-blur-sm w-full">
  <nav>
    <a href="/">home</a>
    <a href="/blog">blog</a>
  </nav>
</header>
