<div class="prose dark:prose-invert !max-w-none w-full
  prose-h1:border-l-[0.5rem] prose-h1:pl-[1rem] prose-h1:border-accent
  prose-h2:border-l-[0.5rem] prose-h2:pl-[1rem] prose-h2:border-accent
  prose-code:bg-zinc-800 prose-code:px-1 prose-code:rounded-md prose-code:[&::before]:content-none prose-code:[&::after]:content-none prose-code:font-normal
  prose-code:border prose-code:border-dashed prose-code:border-zinc-500
  ">
  <slot />
</div>
