<div class="prose dark:prose-invert !max-w-none w-full
  prose-h1:border-l-[0.5rem] prose-h1:pl-[1rem] prose-h1:border-accent
  prose-h2:border-l-[0.5rem] prose-h2:pl-[1rem] prose-h2:border-accent
  ">
  <slot />
</div>
