---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
  maxDepth: number;
}

const { headings, maxDepth = 2 } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= maxDepth)
---

<nav class="w-md lg:block hidden">
  <h2 class="text-lg font-bold">Table of Contents</h2>
  <ul>
    {
    filteredHeadings.map(heading => (
    <li style={{ marginLeft: `${(heading.depth - 1) * 1.5}rem` }}>
      <a href={`#${heading.slug}`} class="text-dim hover:text-white">{heading.text}</a>
    </li>
    ))
    }
  </ul>
</nav>
