---
import type { HTMLAttributes } from 'astro/types';
import { actions } from 'astro:actions';

interface Props extends HTMLAttributes<"span"> {
  postSlug: string;
  increment?: boolean;
}

const { postSlug, increment = false, ...restProps } = Astro.props;

const { data, error } = await Astro.callAction(actions.getViews, { postSlug });
if (error) console.error(error);

if (increment) {
  const { error } = await Astro.callAction(actions.incViews, { postSlug });
  if (error) console.error(error);
}
---
<span {...restProps}>{data?.toLocaleString() || 0}</span>
