
---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Font } from "astro:assets";
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";

interface Props {
  title?: string;
  post?: CollectionEntry<"blog">;
}

const { title = "Aiden Can Code", post } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <!-- <title>{title}</title> -->
		<Font cssVariable="--font-geist" preload />
		<Font cssVariable="--font-geist-mono" preload />

		<SEO 
			title={post?.data.title || "Aiden Can Code"},
			description={post?.data.description || "My personal blog."},
			openGraph={{
				basic: {
					title: post?.data.title || "Aiden Can Code",
					type: post ? "article" : "",
					image: post ? `${Astro.url.host}/open-graph/${post.id}.png` : "",
				},
				optional: {
					siteName: "Aiden Can Code",
					description: post?.data.description || "My personal blog.",
				}
			}}
		/>
	</head>
	<body class="w-full no-scrollbar">
    <Header />
	  <main class="max-w-6xl mx-auto px-2 my-20 min-h-screen">
	    <slot />
	  </main>
    <Footer />
	</body>
</html>
