---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

---

<BaseLayout title={`Blog | ${title}`}>
  <article class="mt-50">
    <div class="flex gap-5">
      <div class="min-w-0">
        <slot name="header" />
        <hr />
        <Prose>
          <slot name="content"/>
        </Prose>
        <slot name="footer" />
      </div>
      <slot name="sidebar">
    </div>
  </article>
  <slot />
</BaseLayout>
