---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import ScrollToTop from "../components/ScrollToTop.svelte";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={`Blog | ${title}`}>
  <ScrollToTop client:load/>
  <article class="mt-20 mb-20">
    <slot name="header" />
    <hr />
    <div class="flex gap-5">
      <Prose>
        <slot name="content"/>
      </Prose>
      <slot name="sidebar">
    </div>
    <slot name="footer" />
  </article>
</BaseLayout>
