---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import ViewCount from "../components/ViewCount.astro";

interface Props {
  post: CollectionEntry<"blog">;
  slug: string;
}

const { post, slug } = Astro.props;
---

<BaseLayout title={`Blog | ${post.data.title}`}>
  <article>
    <h1>{post.data.title}</h1>
    <p>{post.data.pubDate.toLocaleDateString()}</p>
    <p><ViewCount server:defer postSlug={slug} increment class="font-bold"/> views</p>
    <hr />
    <Prose>
      <slot name="content"/>
    </Prose>
  </article>
  <slot />
</BaseLayout>
